.video-container {
    position: relative;
}

video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc {
    background-color: violet;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
}
.container-fluid {
    padding: 60px 50px;
}